# Dependências de Infraestrutura e Runtime
node_modules/

# 🚨 COMPILAÇÃO (Evita duplicidade de arquivos .js no repositório)
dist/

# Banco de Dados e ORM
/generated/prisma/

# Segurança: Nunca subir chaves de API ou credenciais de pátio
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs do Sistema e do Docker
*.log
npm-debug.log*

# Ignorar volumes físicos do banco de dados Docker
pgdata/
.db_data/

# Ignorar dumps e ficheiros de log binários
*.sql
*.log
.env